<center>
    <h1>La liste des Categorie</h1>

    <table border="1">
        <tr>
            <th>Id</th>
            <th>NomCategorie</th>
            <th>Supprimer</th>
            <th>Modifier</th>
        </tr>
        <tr>
            {%for model in modeles %}
            <td>{{ model.id }}</td>
            <td>{{ model.nomCategorie }}</td>
            <td><a href="{{path('delete_Categorie',{'id':model.id}) }}">Supprimer</a></td>
            <td><a href="{{path('_update_categorie',{'id':model.id}) }}">Modifier</a></td>
        </tr>
        {% endfor %}

    </table>

</center>



